# If stdin exists we kinda have to be a login shell
if [ -t 0 ]; then
  export CARGO_TARGET_DIR=$(uniq_cache rust)
else
  export CARGO_TARGET_DIR=$(uniq_cache rust-analyzer)
fi
export PREFIX=${CARGO_TARGET_DIR}

export PATH=$PATH:$(pwd)/bin:$(pwd)/result/bin:${PREFIX}/debug:${PREFIX}/release

# TODO: For unit tests/cargo tests this is.... too much off for now
#export RUST_BACKTRACE=full

# Keep cb from building nix derivations for now
export NONIX=sure

has nix && use flake

[ -e local.env ] && . local.env

# Watch this file and reload direnv on changes, .envrc requires me to reload
# anyway so yeah... (note I could make it automagic but prefer not to)
watch_file flake.nix
